body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: overlay;
  background-color: #f0f0f0;
}
li {
  display: inline;
}
header {
  position: fixed;
  top: 0;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  height: 60px;
  width: 100vw; /* 100% of the viewport width */
  padding: 10px 0; /* Padding at the top and bottom only */
  overflow: overlay;
  z-index: 1000;
}
.left-section {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
}
nav ul li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.right-section {
  display: flex;
  gap: 10px;
}
.right-section button {
  padding: 5px 10px;
  font-size: 14px;
  color: #f4f4f4;
  background-color: #0d7ded;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #f8f9fa;
  border: solid 2px #01b198;
  border-radius: 5px;
  color: #01b198;
  transition: 0.5s;
  cursor: pointer;
}
footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  background: gray;
  text-align: justify;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex: 1 300px; */
  background-color: #070404;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.content {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #01b198;
  text-align: justify;
  line-height: 1.2;
  padding: 50px;
  background-color: #f4f4f4;
  border-radius: 8px;
  width: 500px;
}
.image-placeholder {
  padding-left: 50px;
  justify-content: center;
  
}
