body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: overlay;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.container,
.container_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex: 1 300px; */
  background-color: #f8f9fa;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.content_1,
.content_2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #01b198;
  text-align: justify;
  line-height: 1.2;
  padding: 50px;
  background-color: f8f9fa;
  border-radius: 8px;
  width: 500px;
}
.image-placeholder {
  padding-left: 50px;
  justify-content: center;
}
